@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t2acza');
  src:  url('fonts/icomoon.eot?t2acza#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t2acza') format('truetype'),
    url('fonts/icomoon.woff?t2acza') format('woff'),
    url('fonts/icomoon.svg?t2acza#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Like:before {
  content: "\e900";
  color: #657081;
}
.icon-Next:before {
  content: "\e901";
  color: #657081;
}
.icon-Pause:before {
  content: "\e902";
  color: #657081;
}
.icon-Play:before {
  content: "\e903";
  color: #657081;
}
.icon-Prev:before {
  content: "\e904";
  color: #657081;
}
.icon-Shuffle:before {
  content: "\e905";
  color: #657081;
}
.icon-Share:before {
  content: "\e906";
  color: #657081;
}
.icon-Repeat:before {
  content: "\e907";
  color: #657081;
}
.icon-volume-high:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
