.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "logo nav login";
    gap: 3.125rem 6.25rem;
    
    @include s12 {
        gap: 1rem 0;
        grid-template-columns: 1fr;
        grid-template-areas: "logo login" "nav nav";
    }
    @include s4 {
        grid-template-columns: 1fr;
        // grid-template-rows: auto;
        grid-template-areas: "logo" "login" "nav";
        justify-items: center;
    }

    &__logo {
        align-self: center;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        grid-area: logo;
    }

    &__logo-span {
        font-weight: 400;
        color: var(--accent);
    }

    &__nav {
        grid-area: nav;
    }
    
    &__login {
        min-width: 8.75rem;
        justify-self: left;
        @include s4 {
            justify-self: center;
        }
        padding: 0.5em 2em;
        grid-area: login;
    }
}