.nav {
    @include figure;
    @include nav-font;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
    &__element {
        flex: 1 0 28%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 40px;
        margin-right: 2%;
        &:last-child {
            margin-right: 0;
        }

        border-radius: 20px;
        text-align: center;
        color: var(--text);
        text-decoration: none;
        transition: 0.2s;

        &_active, &_active:visited {
            background: var(--primary);
            color: var(--light);
        }
    }
}