.player {
    min-width: 530px;
    @include s7 {
        min-width: 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.125rem;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 1.875rem;
    }
    
    &__title {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.313rem;
        letter-spacing: 0.2em;
    }

    &__artist {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.813rem;
        letter-spacing: 0.2em;
    }

    &__images {
        margin-bottom: 2.5rem;
    }

    &__border-outer {
        display: flex;
        justify-content: center;
        align-items: center;

        @include figure;
        border-radius: 1.563rem;
        width: 21.875rem;
        height: 21.875rem;
    }

    &__border-inner {
        box-shadow: var(--inner-shadow);
        border-radius: 0.813rem;
        width: 20rem;
        height: 20rem;

        padding: 2.5rem;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.625rem;
        }
    }

    &__controls {
        align-self: stretch;
    }

    &__timeline {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__time {
        min-width: 1.25rem;
        // font-size: 18px;
        // font-weight: 700;
    }
    
    &__bar-container {
        position: relative;
        @include figure;
        width: 100%;
        height: 0.938rem;
        overflow: hidden;
        margin: 0 1em;
        cursor: pointer;
    }

    &__bar {
        background: var(--primary);
        height: 100%;
    }
    
    &__playhead {
        position: absolute;
        top: 0;
        left: 0;
        background: var(--primary);
        opacity: 0.2;
        height: 100%;
    }
    
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__play {
        @include figure;
        width: 4.375rem;
        height: 4.375rem;
        border: none;
        padding: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 1.25rem;
        font-size: 1.5rem;
        transition: font-size box-shadow 0.1s;
        
        &:active {
            font-size: 1.4em;
        }
    }

    &__prev {
        @include figure;
        width: 3.125rem;
        height: 3.125rem;
        border: none;
        padding: 0.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        i {
            margin-left: -0.188rem;
        }
    }
    
    &__next {
        @include figure;
        width: 3.125rem;
        height: 3.125rem;
        border: none;
        padding: 0.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    
        i {
            margin-right: -0.188rem;
        }
    }
    
    &__shuffle {
        width: 3.125rem;
        height: 3.125rem;
        border: none;
        padding: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        margin-right: 3.438rem;

        appearance: none;

        &:before {
            margin-right: -0.25rem;
        }
        
    }
    
    &__repeat {
        width: 3.125rem;
        height: 3.125rem;
        border: none;
        padding: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        margin-left: 3.438rem;

        appearance: none;

        &:before {
            margin-right: -0.25rem;
        }
    }
}