.player {
    min-width: min(530px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.125rem;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 1.2rem;
    }
    
    &__title {
        font-weight: bold;
        font-size: 1.4rem;
    }

    &__artist {
        font-weight: 300;
        font-size: 1.2rem;
    }

    &__images {
        margin-bottom: 1.5rem;
    }

    &__border-outer {
        display: flex;
        justify-content: center;
        align-items: center;

        @include figure;
        border-radius: 1.2rem;
        width: 18.5rem;
        height: 18.5rem;
    }

    &__border-inner {
        box-shadow: var(--inner-shadow);
        border-radius: 0.813rem;
        width: 17rem;
        height: 17rem;

        padding: 2rem;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.625rem;
            box-shadow: 7px 7px 26px -1px rgba(34, 60, 80, 0.2);
        }
    }

    &__controls {
        align-self: stretch;
    }

    &__timeline {
        display: flex;
        align-items: center;
        margin-bottom: 0.7rem;
    }

    &__time {
        min-width: 1.25rem;
        // font-size: 18px;
        // font-weight: 700;
    }
    
    &__bar-container {
        position: relative;
        @include figure;
        width: 100%;
        height: 0.7rem;
        overflow: hidden;
        margin: 0 1em;
        cursor: pointer;
    }

    &__bar {
        background: var(--primary);
        height: 100%;
    }
    
    &__playhead {
        position: absolute;
        top: 0;
        left: 0;
        background: var(--primary);
        opacity: 0.2;
        height: 100%;
    }
    
    &__buttons {
        display: grid;
        grid-template-areas: 'repeat shuffle prev play next volume volume';
        grid-template-columns: 1fr 1fr auto auto auto 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    &__play {
        @include figure;
        width: 3.5rem;
        height: 3.5rem;
        border: none;
        padding: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        grid-area: play;
        // margin: 0 1rem;
        font-size: 1rem;
        transition: font-size box-shadow 0.1s;
    }

    &__prev {
        @include figure;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        padding: 0.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        grid-area: prev;

        i {
            margin-left: -0.188rem;
        }
    }
    
    &__next {
        @include figure;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        padding: 0.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        grid-area: next;
    
        i {
            margin-right: -0.188rem;
        }
    }
    
    &__shuffle {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        border: none;
        padding: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        grid-area: shuffle;
        // margin-right: 3.438rem;

        appearance: none;

        &:before {
            margin-right: -0.25rem;
        }
        
    }
    
    &__repeat {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        grid-area: repeat;
        justify-self: end;
        // margin-left: 3.438rem;

        appearance: none;

        &:before {
            margin-right: -0.25rem;
        }
    }

    &__volume {
        grid-area: volume;
        justify-self: center;
    }
}