@font-face {
    font-family: SF-Pro;
    font-size: 400;
    src: url("../fonts/SF-Pro-Display-Regular.otf");
}
@font-face {
    font-family: SF-Pro;
    font-size: 700;
    src: url("../fonts/SF-Pro-Display-Bold.otf");
}
@font-face {
    font-family: SF-Pro;
    font-size: 300;
    src: url("../fonts/SF-Pro-Display-Light.otf");
}