@import "base.scss";
@import "fonts.scss";
@import "mixins.scss";

:root {
    --text:    #657081;
    --dark:    #A3B1C6;
    --mid-d:   #A3B1C6;
    --mid-l:   #E0E4EB;
    --light:   #ffffff;

    --primary: #A5A6F6;
    --accent:  #F178B6;

    --outer-shadow:
        9px 9px 16px rgba(163, 177, 198, 0.5),
        -9px -9px 16px rgba(255, 255, 255, 0.5),
        inset 0px 0px 0px rgba(163, 177, 198, 0.3),
        inset 0px -0px 0px rgba(255, 255, 255, 0.3);
    --inner-shadow:
        0px 0px 0px rgba(163, 177, 198, 0.5),
        0px 0px 0px rgba(255, 255, 255, 0.5),
        inset 9px 9px 16px rgba(163, 177, 198, 0.3),
        inset -9px -9px 16px rgba(255, 255, 255, 0.3);
    --without-shadow:
        0px 0px 0px rgba(163, 177, 198, 0.5),
        0px 0px 0px rgba(255, 255, 255, 0.5),
        inset 0px 0px 0px rgba(163, 177, 198, 0.3),
        inset 0px 0px 0px rgba(255, 255, 255, 0.3);
        
    background: var(--mid-l);
    font-family: SF-Pro;
    letter-spacing: 0.2em;
    color: var(--text);
}

@import "bem/nav.scss";
@import "bem/button.scss";
@import "bem/checkbox.scss";
@import "bem/header.scss";

@import "bem/player.scss";
@import "pages/app.scss";
